@font-face {
  font-family: 'FranklinGot';
  src: url('../fonts/FranklinGothic-Medium.woff2') format('woff2'),
      url('../fonts/FranklinGothic-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo {
    float: left;
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 60px;
    text-shadow: 15px 10px 50px rgb(255, 255, 255);
    font-family: 'FranklinGot', sans-serif;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease; 
}

main{
  width: 100%;
  height: 100%;
}

.menu {
    float: left;
    height: 60px;

}

.menu li {
    float: left;
    font-size: 16px;
    color: white;
    line-height: 400%;
    margin-right: 40px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li a:visited {
    color: white;
}

.main {
    width: 100%;
    height:calc(100% - 60px);
    background: url(../img/fone.jpg) center/cover no-repeat;
    }


.title__container {
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    /* opacity: 0;
    animation: titlemove 1s ease forwards;
    animation-delay: 2.4s; */
}

.title__container h1 {
    font-size: 72px;
    text-align: center;
    font-weight: 600;
    font-family: 'FranklinGot', sans-serif;

}

.title__container h4 {
    color: #79818d;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.title__container input {
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 15px;
    cursor: pointer;
    margin: 50px 14px 0px 14px;
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.menu li a{
  transition: all 0.1s;
  color: white;
  transform: scale(1);
  display: inline-block;
  text-decoration: none;
}

.menu li a:visited{
  color: white;
}

.menu li a:hover{
  color: #ed8601;
}

.menu li a:active{
  transform: scale(1.1);  
}

.title__container input{
  transition: all 0.2s;
  transform: scale(1);
}

.title__container input:hover{
  background: #2c384a;
  color: white;
}

.title__container input:active{
  transform: scale(1.1);
}

@keyframes comming{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes topshift{
  from{
    opacity: 0;
    margin-top: -80px;
  }
  to{
    opacity: 1;
    argin-top: 0px;
  }
}

.menu li:nth-child(2){
  animation-delay: 0.4s;
}
.menu li:nth-child(3){
  animation-delay: 0.8s;
}
.menu li:nth-child(4){
  animation-delay: 1.2s;
}
.menu li:nth-child(5){
  animation-delay: 1.6s;
}

@keyframes titlemove{
  from{
    opacity: 0;
    margin-top: 500px;
  }
  to{
    opacity: 1;
    margin-left: 100px;
  }
}

@media (min-width: 56px) and (max-width: 669px){
  .nav {
    width: 94%;
    margin-right: 3%;
  }
}

@media (min-width: 56px) and (max-width: 669px){
  .menu {
    width: 94%;
    margin-right: 3%;
  }
}

@media (min-width: 56px) and (max-width: 669px){
  .main {
    width: 94%;
    margin-right: 3%; 
  }
}

@media (min-width: 56px) and (max-width: 669px){
  .title__container{
    width: 94%;
    margin-right: 3%; 
  }
}

@media (min-width: 56px) and (max-width: 669px){
  .title__container{
    width: 94%;
    margin-right: 3%; 
  }
}

.white-btn:visited{
  color:white;
}

@media (max-width: 375px) {
  .title__container {
    font-size: 50px;
  }
  .title__container h4 {
    font-size: 22px;
  }
}

.dropdown {
  line-height: 60px;
}









